[2018-03-31 09:49] alessandromaggio opened #1 "Interpret ICMP responses"
Currently, `ping()` will consider an host reachable if an ICMP response is received. Thus, in case we receive an ICMP error (e.g. Destination unreachable and such), we are considering the host reachable - erroneously. Need to implement a check that verifies the type of response.

[2018-03-31 09:50] alessandromaggio opened #2 "Output enrichment"
Need to create a `PingResponse` (or similar) class to store the received responses in a more intuitive way. Consider creating a class for a collection of responses as well, offering statistics.

[2018-03-31 09:51] alessandromaggio opened #3 "Unit testing"
Currently, test coverage is 0%. Need to implement some unit testing.

[2018-04-05 19:09] alessandromaggio commented on #3
Completed the testing for rendering and parsing of ICMP packets, including checksums.
The icmp file is currently covered by tests to a great extent, and tests run succesfully.

[2018-05-10 19:05] alessandromaggio commented on #2
Structure for the responses is ready, and can print data verbosely if required. The class `ResponseList` gather statistics during the communication, and updates them dynamically so that they are always available.
Responses will need some additional verbose representation as soon as the issue #1 is closed (they need to represent if the device replied with port unreachable etc.).

[2018-05-18 17:16] alessandromaggio commented on #1
`Response` now understands various message codes and returns success only if the response is an EchoReply. If the message is of type "Destination Unreachable", it gives the details based on message code (all 16 codes are supported). Any other message, which should not be seen as response, it considered generic error.

**Need to be tested!** we need to verify that the message from an intermediary h

[2018-06-08 16:48] alessandromaggio commented on #3
Reached partial coverage for `executor.py`, the only parts of code that lack Unit Testing are `Response` and `ResponseList`. Structure for such tests has been laid down, but individual test functions are yet to write.

[2018-06-14 18:36] alessandromaggio commented on #2
Completed and tested.

[2018-06-14 18:36] #2 closed

[2018-06-14 18:36] alessandromaggio commented on #1
Added tests, issue resolved.

[2018-06-14 18:36] #1 closed

[2018-06-14 18:37] alessandromaggio commented on #3
Good test coverage on `executor` module as well. Issue resolved.

[2018-06-14 18:37] #3 closed

[2018-09-08 14:18] alessandromaggio opened #7 "Don't Fragment IP Option"
It looks like the DF option is not being set (tested on Windows, verifies with Wireshark). Currently, the option set is option 10, and it is set to 1.

[2018-11-20 08:41] fact0real opened #8 "don't install on OSX"
hi all,
after building the `setup.py` in OSX, I got this error:

[code]

[2018-11-21 19:18] alessandromaggio commented on #8
Hey, thank you for raising the problem.
Which python version are you using?

[2018-11-21 19:39] fact0real commented on #8
Hey,
I'm using this version of Python:

[code]
this issue exists on Debian unstable too!

[2018-11-22 20:04] alessandromaggio commented on #8
Pythonping supports only Python 3, so it won't work! :(
As [Python 2.7 is going end of life in 2020,](https://hg.python.org/peps/rev/76d43e52d978) I am not planning to add support on that version. I suggest upgrading your project. I hope this was helpful

[2018-11-26 09:57] p3rtinax opened #9 "Cisco Like output"
Dear Alessandro,
Very useful code,
Following you from https://www.ictshore.com/python/python-ping-tutorial
When you gonna make it, or add Cisco like output flag to it?
It will be very more advanced if you add Cisco like output option,
I look forward to it

Thank you

[2018-11-27 19:40] alessandromaggio commented on #9
Hello p3rtinax,

I'd really love to add the Cisco output on pythonping ASAP! Sadly, as I am busy on other projects, this won't happen soon. However, I would *love* to get other people on board on this project, so if you feel like contributing I'll try to write down some more specific requirements and you can fork me. I'll do my best to be available for any help or question!

Let me know what you t

[2019-01-14 18:49] samurai71 opened #10 "MacOs permissions issue"
I am trying to use this and it doesn't want to work due to a permissions issue on the mac it needs root permissions to execute the ping command. I am trying to use it in Visual Studio Code. I am running python version 3.7.0. Trying to do this in class at school

[2019-01-14 19:36] #8 closed

[2019-01-14 19:37] alessandromaggio commented on #10
Hello! Unfortunately it **needs** root permission, on any OS and not just MacOS. This is because pythonping has to create raw IP packets (instead of TCP/UDP sockets), and this requires root permissions. It is a security constraint of any modern OS.

[2019-01-14 19:37] #10 closed

[2019-01-18 03:38] stuper27 opened #11 "Incorrect use of time.clock() on Linux OS"
In network.py `def receive(self, timeout=2)` the function uses `time.clock()` to initialize `start_select.` This is fine for windows though on Linux running on an ARM architecture the line:
`elapsed_in_select = time.clock() - start_select`
results in lets say 8-10ms, then the function continues through subtracting 8-10ms from `time_left` and spends several hundreds of milliseconds going through
`p

[2019-01-18 17:26] alessandromaggio commented on #11
👍
Thank you, this is a really good troubleshooting!
I'll try to bring back to life my Raspberry PI and verify, and hopefully fix it ASAP. If you want you can fork me and I'll check the edits to include them in the next release.

[2019-02-19 13:11] wellsgz opened #12 "hang while target is unreachable"
While pinging an unreachable target, instead of returning "unreachable" to responses, the program just hanging there.

Tested with python 3.7.2 on MacOS (homebrew) and Python 3.6.7 on Ubuntu 18.04 with the same result.

Test code is quiet simple:

[code]

[2019-02-23 19:06] cveilleux commented on #11
`time.clock()` is actually deprecated since python 3.3 for this exact issue. The behavior is completely different on unix and windows.

https://docs.python.org/3.7/library/time.html#time.clock

`time.perf_counter()` appears to be the best option for maximum precision.

`time.time()` also works but is dependent on the system time, so ntp can make it drift between 2 calls.

I will provide a PR short

[2019-02-23 19:06] cveilleux commented on #12
Confirming, same issue on ubuntu.

This is actually a duplicate of #11 . On unix platform, the timeout does not work because wrong function is used to count the time spent waiting.

[2019-02-24 08:36] #11 closed

[2019-02-24 08:36] #12 closed

[2019-02-24 08:49] alessandromaggio commented on #11
Thank you! I've merged your changes in the master, and published them in the release 1.0.3 which is already out. This release also ensures sockets get closed automatically once the ping finishes, avoiding annoying warning messages.

[2019-06-13 15:44] distahl opened #15 "Network Error if target is localhost"
Hi,
I'm getting this if I try to ping localhost or any other ip which is local:

[code]

It alternates always between "Network Error" and "Reply"
Any idea?

EDIT:
Looks like every time this "Network Error" happens, the message type is 8, which means "ECHO REQUEST". So I think we see our own packages we send before via ping coming back in.

EDIT2:

This seems to resolve the error for me:
[code]

[2019-06-15 13:01] alessandromaggio commented on #15
You made a pretty good troubleshooting. Still, I've never seen this issue before, I would like to replicate it. What OS and version are you running?
If the root cause is the one you provided, and this snippet is effectively a solution and not a workaround, I will release a new version to fix it.

[2019-06-17 06:21] distahl commented on #15
Hi,
It was RHEL6 (if I remember right, RHEL 7 was also affected) with Python 3.6.2. If you don't have access to RHEL, you should be able to use CentOS, which should be the same.

If you can't reproduce this, please try a second thing which maybe caused this. Ping the system which is executing the python script from somewhere else, while executing the script.

[2019-06-17 18:35] alessandromaggio commented on #15
Thank you, I will look into that ASAP and release an hotfix.

[2019-06-19 11:38] Wa2el3ali opened #16 "Documentation request"
Hello Alessandro,
I'm asking on how to access "success" property in a ping instance or may be executor instance?
Also, i would appreciate it if you send me documentation for this project.

Thank you in advance

[2019-06-19 17:41] alessandromaggio commented on #16
Hello Wa2el3ali,

Ping returns a `ResponseList` object, which contains one `Response` for each ICMP message you sent (this depends on the count). The `Response` object has the success property, so to access it you would need to do `rs._responses[0].success`, where rs is the object returned by `ping()`.
Doing some means you are accessing a private propriety (`_responses`), as this class was not rea

[2019-06-20 19:29] alessandromaggio commented on #15
Integrated with PR #18, bug is fixed in version 1.0.4 already released (also on PyPI).
Thanks!

[2019-06-20 19:29] #15 closed

[2019-07-19 14:42] miyouzi opened #21 "About ipv6 support"
Hello, is there any idea about ipv6 support?
Thank you.

[2019-07-21 14:49] alessandromaggio commented on #21
Hey,
At the moment it is not supported, but it would be awesome to add it. I leave this issue open to mark this as part of a development roadmap. Anyone, feel free to start working on this.

[2019-08-11 20:08] pavants opened #22 "response.Success"
I get an error everytime I try to read the succcess value:
AttributeError: 'ResponseList' object has no attribute 'success'

[2019-08-12 07:06] EzR1d3r commented on #22
ResponseList has attribute '_responses', which represents the list of Response objects, Response object has the 'success' property.

[2019-08-14 18:58] alessandromaggio commented on #22
This is a good thing I actually would like to implement. In fact, as you can tell, _responses is not really meant to be used from outside the class.

[2019-08-15 07:16] EzR1d3r commented on #22
I can try to make it. It is necessary to decide on behavior. Success true - if at least one of the list success or other logic.

[2019-08-15 14:53] alessandromaggio commented on #22
I would say can go with three options, which translate into three constants:

- `SUCCESS_ON_ONE` (1 request is enough to be successful)
- `SUCCESS_ON_MOST` (conservative, success on _more_ than 50%)
- `SUCCESS_ON_ALL` (100%)

We set the value of a property, let's say success_behaviour or whatever to one of these constants, and based on that the `success` property behaves differently.

I would say

[2019-08-16 06:24] pavants commented on #22
Vote Alessandro proposal, is exactly what I had in mind.
One packet in a LAN environment is enough to see if it is online.

Thanks

[2019-08-27 18:00] abringenberg opened #24 "pythonping-1.0.4.tar.gz: ResponseList has no __iter__"
The executor.py in pythonping-1.0.4.tar.gz (on gitlab and pypi.org) does not contain the patch of @kysevenle

[2019-09-01 15:49] alessandromaggio commented on #22
I added the tests - implemented in release v1.0.5, already out and installable.
Closing the issue, thanks to @EzR1d3r!

[2019-09-01 15:49] #22 closed

[2019-09-01 15:52] alessandromaggio commented on #24
Moving to version 1.0.5 `__iter__` should be present, starts at line 199.
[code]

[2019-09-02 06:50] abringenberg commented on #24
Works - thank you!

[2019-09-02 06:50] #24 closed

[2019-09-03 07:08] NicKoehler opened #25 "The module it's not working"
I tryed to use this module following the "basic usage" on [this site](https://pypi.org/project/pythonping/)

I installed the module and I wrote:

`from pythonping import ping`
`ping('127.0.0.1', verbose=True)`

I only received a bunch of errors like following

  File "/home/nic/.vscode-oss/extensions/ms-python.python-2019.8.30787/pythonFiles/ptvsd_launcher.py", line 43, in <module>
    main(ptvsdA

[2019-09-03 18:48] alessandromaggio commented on #25
Are you running as root?

[2019-09-03 19:02] NicKoehler commented on #25
I'm running it from a virtual environment as user

![Screenshot_20190903_210102](https://user-images.githubusercontent.com/53040044/64201024-f3f2d880-ce8d-11e9-987c-c111045de11c.png)

this is the screenshot if it could help

[2019-09-04 17:55] alessandromaggio commented on #25
I understand, but this does not imply _any root privilege_.
The module requires root privileges to be run, try with `sudo python brawl.py`.

[2019-09-04 17:55] #25 closed

[2019-09-25 23:15] yehudape opened #26 "ModuleNotFoundError: No module named 'pythonping'"
`$python3 script.py `end with the above error...

system is: ubuntu 18.04.
Installed via: `$sudo pip install pythonping`.
Successfully installed pythonping-1.0.5

Running: `$sudo pip install pythonping`
result: `Requirement already satisfied: pythonping in ./.local/lib/python2.7/site-packages`

Is pythonping python3 compatible?

Thanks,

[2019-10-07 15:38] gimolai opened #27 "PermissionError: Operation not permitted"
Hello Alessandro,

I get **"PermissionError: [Errno 1] Operation not permitted"** during call of `ping()`.
I run it as normal user and OS side `ping` works well.

[code]

What can be wrong?

Thank you

[2019-10-14 18:09] alessandromaggio commented on #26
Pythonping is written for python 3, and does not support python 2.7.
From your log it looks like you are installing it in the python2.7 folder, so I believe your `pip` command is configured for python 2.7. Try `pip3`.

[2019-10-14 18:09] #26 closed

[2019-10-14 18:10] alessandromaggio commented on #27
You need root/administrative privilege to run pythonping.
We already have an issue open to make this error more clear and this will be part of the next release.

[2019-10-14 18:10] #27 closed

[2019-10-19 09:34] 2Max4 opened #28 "Handle DNS resolution failure"
Now and then I am getting the following error:

Traceback (most recent call last):
  File "network_test.py", line 164, in <module>
    test_result = get_ping_as_df(url)
  File "network_test.py", line 125, in get_ping_as_df
    my_ping = ping(ping_url)
  File "lib\site-packages\pythonping\__init__.py", line 52, in ping
    comm = executor.Communicator(target, provider, timeout, socket_options=optio

[2019-10-19 13:10] alessandromaggio commented on #28
This error means you are not running the script as root. Are you all the time?

[2019-10-19 18:08] darkwoolf10 commented on #28
use sudo is fix, but it's not good. I think.

[2019-10-19 18:43] alessandromaggio commented on #28
I don't think its either good or bad @darkwoolf10.
All the operating systems let normal applications use TCP and UDP freely (mostly), but ICMP runs directly on top of IP. So, to send ICMP packets, we need to have direct access to the IP level, and that is something very powerful.

Potentially, at that level, you can sniff the traffic of other applications, and even pretend to be another applicatio

[2019-10-20 08:31] 2Max4 commented on #28
@alessandromaggio Yes I am running the script as sudo. Nevertheless this error occurs! What's interesting is that - if there was an error with permissioning - this error would occur directly after starting the script. This is not the case. There are already several ping checks made before this error occurs.

Do you know if there is something like a "max-out" from the OS? Currently I am sending Pin

[2019-10-25 22:28] jonathanchan commented on #16
Is there a way to see the percentage pack loss of a ping command?

I guess I'm looking for something comparable to running a ping from the (mac) termimal.

Mac Terminal ping:

vs pythonping

[2019-10-27 10:15] alessandromaggio commented on #28
Weird. OS should not pose any limit on that, it either grants you access to the socket or not, but should not have any limitation once you do have access. I am worried that we are not doing some proper cleaning once the script ends, and re-opening the socket multiple times cause this to mess around.
Which OS are you running?

[2019-10-27 10:36] 2Max4 commented on #28
I am running this script on Windows 10 and Raspian.

I changed my Exception handling to a very generic one and since I have done this I do only get the Error:

[code]

Which -from my understanding - says that there is no connection to the internet.
Maybe the error from the socket is in a connection with the network error I've posted. Meaning that whenever I initially had no connection the socket e

[2019-10-29 19:48] alessandromaggio commented on #28
The issue is now clear, I have renamed it to "Handle DNS resolution failure".
This is a very important issue, yet easy to fix - we must include it in the next release.

[2019-11-11 03:16] PaulJoseph5623 opened #29 "Error with Python3.5.3"
Hi Alessandro,
I like your Lib pythonping and would like to use it.
I am working with a Raspberry Pi3+ with raspian and Python 3.5.3
I am getting this Error:
    from enum import IntEnum, auto
ImportError : cannot import name 'auto'
It seams that with python 3.5.3 lib 'enum' doesn't support 'auto',  although you write that pythonping is supported from python3.
Is there any way I can get pythonping

[2019-11-12 15:51] cxrider commented on #29
I see the same problem in Debian stretch and Python 3.5.3.   I managed to work around the above error but ended up with an import problem of IntEnum that I could not resolve.   I hesitate to upgrade to a newer release of python as I think it will add an additional layer of administration and I would rather apply the KISS principle here.   Are we out of luck and forced to upgrade to a newer release

[2019-11-13 18:52] alessandromaggio commented on #29
I believe we have a compatibility problem. I believe we should investigate it, and if we can find an easy way to restore backward compatibility we should do it.
Feel free to add a PR for that.

[2019-11-14 00:21] cxrider commented on #29
I am new to github so it might take me a bit to figure out how to open the PR but this seems to be an acceptable fix so far.   I used the example for AutoNumber from the enum.py documentation for Python 3.5 found here:  https://docs.python.org/3.5/library/enum.html

root@logmon:~/src# python -V
Python 3.5.3
root@logmon:~/src# cat pping
#!/usr/bin/env python

from pythonping import ping
ping ('8.8.

[2019-11-14 00:22] cxrider commented on #29
Well that sucked as a post... guess I should have previewed it first :-)

Let me see if I can clean it up

[2019-11-14 00:28] cxrider commented on #29
I'm new to github so it may take me a while to figure out how to create a new PR, but I think I have a fix.   It's based on the AutoNumber use case from the Python 3.5 documentation on enum.py found here: https://docs.python.org/3.5/library/enum.html

[2019-11-14 01:11] cxrider commented on #29
@alessandromaggio I could not figure out how to open the PR under your branch so I forked the branch and uploaded my version of executor.py.      Hopefully you can access/use it.  :-)   I've also attached the file here.
[executor.py.txt](https://github.com/alessandromaggio/pythonping/files/3844158/executor.py.txt)

[2019-11-16 16:36] alessandromaggio commented on #29
Thanks @cxrider, I have implemented your code in version 1.0.6.
This version is already released and available for download from PyPI. We can consider this issue solved!

[2019-11-16 16:36] #29 closed

[2019-11-18 15:24] IgalKorb opened #33 "AttributeError with version 1.06"
Used version 1.0.5 on Mac and linux with python 3.7 with no problem, and now using version 1.0.6 triggers an error on both macOs/ubuntu 16/18 with most simple ping('8.8.8.8'):

`Exception ignored in: <function Communicator.__del__ at 0x7f369f283ee0>
Traceback (most recent call last):
  File "/usr/local/lib/python3.8/site-packages/pythonping/executor.py", line 260, in __del__
    raise AttributeErr

[2019-11-18 19:34] alessandromaggio commented on #33
Fixed in release 1.0.7, already out.

[2019-11-18 19:34] #33 closed

[2019-12-18 05:05] Yuanyp8 commented on #16
I ‘m also looking for the packets loss
just like:
229 packets transmitted, 229 received, 0% packet loss, time 228000ms

[2019-12-23 05:59] eleree opened #34 "no buffer in ping (v1.0.8)"
Hi All
 I encounted a crash issue as below
**File "site-packages\pythonping\__init__.py", line 53, in ping
  File "site-packages\pythonping\executor.py", line 306, in run
  File "site-packages\pythonping\executor.py", line 277, in listen_for
  File "site-packages\pythonping\network.py", line 52, in receive
OSError: [WinError 10040] A message sent on a datagram socket was larger than the internal m

[2020-03-04 09:43] JorisE commented on #27
You don't have to run as root if you  use the [capabilities](https://wiki.archlinux.org/index.php/Capabilities) framework. You can give Python the same capabilities as `/bin/ping`, by doing:

[code]

This will allow Python to capture raw packets, without having to give it full root permission.

[2020-03-23 17:05] somervda commented on #34
I ran into this - my fix was to set the BUFFER_SIZE in the network module (socket function ) to be larger. It is currently hard coded to 1024 - I pushed it up to 2048 and could do larger pings, however it would probably be worth setting this dynamically based on the ping size being used. 2000 byte ping worked successfully with the new buffer size and df flag set.

[2020-04-03 10:00] Asgoret opened #35 "Don't work"
Code:
[code]

Error:
[code]

[2020-04-03 10:09] #35 closed

[2020-04-03 10:11] Asgoret opened #36 "Permission issue"
Use privileged mode is not good practice. How I can start ping process not using root mode?

[2020-04-03 14:18] LuciferMorningstar commented on #36
Seconded.  I can't really use this if I have to elevate my privileges just to ping a server.

[2020-04-03 19:34] alessandromaggio commented on #34
Change suggested by @somervda implemented in release 1.0.9, just published.
Thanks!

[2020-04-03 19:34] #34 closed

[2020-04-03 19:36] alessandromaggio commented on #28
Added a clearer explanation of why this error happen, raised as `RuntimeError`. As this is not an issue of pythonping itself, this is the best we can do. Change included in release 1.0.9, just published.
Thanks @2Max4 for raising this.

[2020-04-03 19:36] #28 closed

[2020-04-03 19:38] alessandromaggio commented on #7
It seems like `Socket.DONT_FRAGMENT` is not valued correctly. The "don't fragment" option is assumed to be `10` without proper documentation. From a deeper analysis, it seems MS Windows doesn't have this capability on IPv4, just on IPv6.

[2020-05-07 10:48] deltaflyer4747 opened #39 "Data collision with threading"
If i run several threads (threading.Thread) with pings for different hosts, i get mixup of replies, stating impossible times for cerain targets.

For example i get low response time in local network (which is fine) but then i get similar reply from host on the other side of world.

Feel free to run test.py script that pings localhost and amazon.com and as you can see in attached screenshot replies

[2020-05-07 17:28] alessandromaggio commented on #39
Yes, at the moment we are not thread-safe. This is because we are sniffing the NIC for incoming replies, and the NIC itself cannot be duplicated in different threads for incoming traffic - that's because there is no way to know to which thread the incoming traffic belongs to.

However, we can implement a workaround to address this issue. We should add some sort of seed/prefix value to use in the I

[2020-05-07 23:45] deltaflyer4747 commented on #39
You can specify a pattern in ping. (-p option in linux).

[2020-05-10 12:01] alessandromaggio commented on #39
The pattern is not what we are looking for, the pattern is just the payload of the packet and has no say in how replies are reconciled with requests. That's the identifier job (see RFC https://tools.ietf.org/html/rfc792, page 14).

So we only need to have a better way to specify identifiers.

[2020-05-10 19:43] deltaflyer4747 commented on #39
Ah, identifier. Riiiight ... Well, identifier = os.getpid() is not going to cut it as threads are not processes, right...

then something as simple as

    try:
        identifier = threading.get_ident()
    except Exception:
        identifier = os.getpid()

will do the trick (tested, works). Feel free to modify conditioning to your own likings ;)

[2020-05-10 22:28] deltaflyer4747 commented on #39
I tested this patch and works for me:

`--- icmp.py_orig        2020-05-11 00:27:06.437013303 +0200
+++ icmp.py     2020-05-11 00:26:56.168855981 +0200
@@ -3,6 +3,7 @@
 import struct
 import select
 import time
+import threading

 def checksum(data):
@@ -150,7 +151,7 @@
             payload = bytes(payload, 'utf8')
         self.payload = payload
         if identifier is None:
-            identi

[2020-05-18 09:20] deltaflyer4747 opened #40 ""Protocol not supported" issue with protocol type"
hw: RaspberryPi
os: Raspbian 10.1
issue:
[code]

Solution (tested both on raspberry and regular machine):

[code]
[code]

[2020-05-18 18:10] alessandromaggio commented on #39
You can make a pull request with that and we will integrate it in the next release.

[2020-05-18 18:11] alessandromaggio commented on #40
What is the code you use to generate the error?

[2020-05-18 19:30] deltaflyer4747 commented on #40
a very basic one (see below). Issue is caused by using string "icmp" and then converting that to numeral, instead of using socket type IPPROTO_ICMP. It converts to "1" as string too, but seems like it needs proper value, not just integer.
[code]

[2020-05-19 16:26] alessandromaggio commented on #40
Alright, make a pull request so that we can better evaluate it.

[2020-06-23 18:54] alessandromaggio commented on #36
Unfortunately, this is not possible, that's because we are using raw sockets and that requires root privilege (as you can potentially do any kind of traffic, including spoofing other applications). We have no other way to create ICMP packets than using raw sockets, so privileged mode it's a requirement. There isn't much we can do.

[2020-06-23 18:54] #36 closed

[2020-07-09 11:28] Elendiar opened #41 "support for multiple thread pings"
Problem appears when ping() used with multiple threads. When i need simultaneously ping multiple IPs, i get strange results, like mixed response relative to thread:
[code]

After some investigation i find reason for this behavior - `seed_id` in `class Communicator`. In default func `ping()` was no argument for seed, so it always was `self.seed_id = os.getpid() & 0xFFFF` > same for all threads > sa

[2020-07-20 21:46] malbers15 commented on #39
I just encountered this issue myself.  I also noticed that this person found a possible fix by randomizing the seed_id:
https://github.com/alessandromaggio/pythonping/issues/41

Is there an ETA on a pull request for this issue?  Or is work still being done?

[2020-07-20 21:54] deltaflyer4747 commented on #39
yes, i ended up using random as well.
            identifier = random.randrange(65535)
and
            self.seed_id = random.randrange(65535) & 0xFFFF

[2020-07-20 22:38] malbers15 commented on #39
@deltaflyer4747 I can see why you moved away from threading.get_ident() after testing myself.  I concur; replacing os.getpid() with  random.randrange(65535) seems to be the best solution.  Perhaps the following to be more explicit?

`random.randint(0x1, 0xFFFF) & 0xFFFF`

[2020-07-22 21:28] malbers15 commented on #39
@deltaflyer4747 is the identifier change in the following necessary?
`class ICMP:
    LEN_TO_PAYLOAD = 41     # Ethernet, IP and ICMP header lengths combined

    def __init__(self, message_type=Types.EchoReply, payload=None, identifier=None, sequence_number=1):
        """Creates an ICMP packet

        :param message_type: Type of ICMP message to send
        :type message_type: Union[ICMPType,

[2020-07-28 13:54] malbers15 commented on #41
hi @Elendiar ,

How about the following for seed_id in executor.py to be explicit:
`if self.seed_id is None:
self.seed_id = random.randint(0x1, 0xFFFF) & 0xFFFF`

And have you happened to test if a similar update is necessary in the checksum method in icmp.py to identifier as well to make this all thread safe?

[2020-07-29 15:03] malbers15 commented on #39
@deltaflyer4747 ?

[2020-07-30 17:18] malbers15 commented on #39
@deltaflyer4747
so, this may be a little overkill, but I figured, better to protect the main thread in the very unlikely chance that random picked the same one, so how about this:
`from threading import main_thread, current_thread`

`            if self.seed_id is None:`
`                self.seed_id = getpid() & 0xFFFF`
`                if current_thread() is not main_thread():`
`

[2020-08-07 21:50] malbers15 commented on #39
@alessandromaggio @deltaflyer4747
https://github.com/alessandromaggio/pythonping/pull/42

I have put it all together in a pull request, as well as an option for payload matching (maintains default behaviour).

[2020-08-07 21:53] malbers15 commented on #41
Pull request open:
https://github.com/alessandromaggio/pythonping/pull/42

[2020-08-08 15:34] alessandromaggio commented on #39
@malbers15

Thank you for the PR. I have created the `thread-safe` branch to test it and integrate it properly. Hope to release the fix in the next days.

[2020-08-08 17:17] malbers15 commented on #39
@alessandromaggio no problem happy to help!  Please see my recent pull request to your thread-safe branch as I forgot to the inverse test case for payload match (covers windows/legacy behaviour with google DNS A truncated reply test case).

[2020-08-09 13:37] alessandromaggio commented on #39
Changes integrated into v1.0.11, out now. Thanks @malbers15.

[2020-08-09 13:37] #39 closed

[2020-08-09 13:37] alessandromaggio commented on #41
Implemented in release v1.0.11.

[2020-08-09 13:37] #41 closed

[2020-08-10 20:09] malbers15 opened #48 "Bug in match code on made from wrong assumptions based on misleading documentation, update documentation to reflect Union of string and bytes as payload input internally, and Linux legacy match off case in threaded scenario broken"
**Describe the bug**
-I mistakenly compared strings and bytes in my match code based on false assumptions in the library where bytes was stated as the input in a few places, when it should have been documented as Union input of strings or bytes.  Default behavior is to use the random_text function to generate the payload, which returns a string.  I had used bytes manually in some of my test code a

[2020-08-10 20:10] malbers15 commented on #48
@alessandromaggio

My bad.  It is fixed in the PR:
https://github.com/alessandromaggio/pythonping/pull/49

[2020-08-12 17:49] malbers15 commented on #39
@alessandromaggio
please review and merge these bugs ASAP as I have worked quickly to fix them and don't want a buggy version of mutithreading or match to be out there for too long:
https://github.com/alessandromaggio/pythonping/issues/48

https://github.com/alessandromaggio/pythonping/pull/49

[2020-08-12 18:47] alessandromaggio commented on #48
Thank you for the quick fix @malbers15, integrated in v1.0.12 being released now.

[2020-08-12 18:48] #48 closed

[2020-08-22 05:48] relwin opened #50 "Raspberry Pi import error"
**Describe the bug**
File "/home/pi/.local/lib/python3.5/site-packages/pythonping/__init__.py", line 9
    SEED_IDs: List[int] = []
            ^
SyntaxError: invalid syntax

...and:
File "pingsimple.py", line 1, in <module>
    from pythonping import ping
  File "/home/pi/.local/lib/python2.7/site-packages/pythonping/__init__.py", line 9
    SEED_IDs: List[int] = []
            ^
SyntaxError: inv

[2020-08-24 20:38] malbers15 commented on #50
This is reproducible with any OS version of python 3.5 I just verified.  I will make a PR addressing this.

However for the python 2.7 attempt, python2 is officially deprecated as of 1/1/2020, and also, typing isn't supported in python2 lines:
https://www.python.org/doc/sunset-python-2/

[2020-08-24 21:23] malbers15 commented on #50
Fixed here, please review @alessandromaggio

https://github.com/alessandromaggio/pythonping/pull/52

[2020-08-24 22:18] malbers15 commented on #40
The original implementation in executor.py:
`self.socket = network.Socket(target, 'icmp', source=None, options=socket_options)`
and then in network.py:
`self.protocol = socket.getprotobyname(protocol)`

looks correct according to both python 3.5 and 3.7 documentation:
https://docs.python.org/3.5/library/socket.html#socket.getprotobyname
https://docs.python.org/3.7/library/socket.html#socket.getpro

[2020-08-27 15:35] malbers15 commented on #50
Changes have been merged to master and this issue can be closed

[2020-08-27 15:52] malbers15 commented on #7
Issue has been fixed for Linux Users of pythonping:
https://github.com/alessandromaggio/pythonping/commit/85d751e507e1569ee262cc540205ef5b4ad7b9c6

[2020-08-27 20:51] #50 closed

[2020-08-27 20:56] relwin commented on #50
installed pythonping-1.0.12
executes properly on the Pi platform.

[2020-08-28 17:07] #40 closed

[2020-08-29 04:00] asingingbird opened #55 "Cannot import pythonping in python2"
Deos pythonping support python2 ? If not, why can I install it ?
I'm not sure it's a bug or pythonping is not compatible with python2.

I install pythonping with command `pip install pythonping`, when trying to import it, I got this error:
[code]

[2020-09-01 22:36] malbers15 commented on #55
Hi @asingingbird

The error is due to the print syntax difference from python2 to python3.  We also took the decision to not support python2 as it was officially deprecated as of January 1st, 2020:
https://www.python.org/doc/sunset-python-2/

https://github.com/alessandromaggio/pythonping/issues/50
https://github.com/alessandromaggio/pythonping/pull/52#issuecomment-679468589

[2020-09-01 23:06] malbers15 commented on #40
Hi @alessandromaggio ,

So, I believe this is actually an issue now upon encountering it.  What I can infer from previous conversations with @deltaflyer4747 is that he was attempting to use pythonping multi-threaded as he came up with the initial POC to make it thread safe:
https://github.com/alessandromaggio/pythonping/issues/39#issuecomment-661354372

I have determined this "Protocol not support

[2020-09-02 15:39] malbers15 commented on #40
It is a bug in python that affects 3.5, 3.6, and 3.7:
https://bugs.python.org/issue30482
"socket.getservbyname(), socket.getservbyport(), socket.getprotobyname() are not threadsafe"

I will implement a workaround.

[2020-09-02 16:50] malbers15 commented on #40
Here is the PR @alessandromaggio
https://github.com/alessandromaggio/pythonping/pull/56

[2020-09-05 11:28] asingingbird commented on #55
Thanks @malbers15
Stubborn Apple still using Python2 as default though, do you think it is necessary to mention this in the document? Or adding a description like "Requires: Python >=3.6" at PyPI.

[2020-09-05 12:57] malbers15 commented on #55
@asingingbird I don't think so because the phasing out of python2 has been in progress for years now with a targeted end date.  Even your terminal warns against it and gives a good explanation:
[code]

I would just use the `python3` option from the terminal, which is what Linux users do too (until the phase out of python2 is phased out of old legacy software support completely).  And if you instal

[2020-09-05 13:23] asingingbird commented on #55
@malbers15
Fair point, time for everyone to forget Python2 ever existed, it's the best for both library developers and users.
BTW, I set default Python to Python3 from within terminal using [pyenv](https://github.com/pyenv/pyenv) on my Mac.

[2020-09-05 13:26] #55 closed

[2020-09-14 19:20] malbers15 commented on #55
@asingingbird changing the environment variable sounds like a great work around

[2020-11-06 04:04] samgomena opened #58 "Support Packet Loss Statistics"
**Is your feature request related to a problem? Please describe.**
I have a use case for determining the packet loss percentage from a ping request. I don't believe this library supports that.

**Describe the solution you'd like**
I would like to be able to determine the percentage of packets lost in a ping request. Similar to how a successful ping can be determined:

[code]

**Describe alternativ

[2020-11-06 07:28] alessandromaggio commented on #58
This is an interesting that would definitely be beneficial to a lot of people. If you make a PR for it I'll be glad to integrate it in the next release.

Please let me make some considerations on the implementation:

1. The rate must be normalized in a 0-1 range (0% loss represented as 0.0, 100% loss as 1.0)
2. Instead of computing a normal average by interating again on all the data after the pin

[2020-11-12 18:21] alessandromaggio commented on #58
Included in release 1.0.15, already out. Thank you @samgomena!

[2020-11-12 18:21] #58 closed

[2020-12-04 11:28] konserw opened #61 "TTL"
Hi!
Could you please add TTL value to ResponseList ?
Background:
I'm using TTL to check if ping target is windows or linux machine (usually <64 for linux and > 64 for windows)
Now I'm using subprocess + regex and I would like to switch over to pythonping instead ;)

Cheers!

[2020-12-04 18:07] alessandromaggio commented on #61
Hi!

How would you implement such a thing? Each response may have a different TTL indeed, so what would it be the TTL for a group of responses (aka ResponseList)?

It is dangerous to assume the TTL will be constant between responses from the same host because it does not depend exclusively on device settings, but also on network conditions which may vary over time and are unpredictable.

[2020-12-11 13:33] BlankHat1610 commented on #61
Hi!
I know it's dangerous, but it's necessary to add it in the response list, because even today losts of program still need it for there purpose.

[2020-12-28 16:36] alessandromaggio commented on #61
We cannot implement a feature that is unstable by design in our stable version. If you really need to guess the OS, you can do that by fetching the first Response from ResponseList, but ResponseList has no TTL because it is a property of the response by its own nature.

We may consider adding an average TTL on ResponseList, but that would be a different request - feel free to create a PR for that.

[2020-12-28 16:36] #61 closed

[2021-01-22 17:03] rubysash commented on #27
It wouldn't do the setcap on a sym-link:

sudo setcap cap_net_raw+ep $(which python3)
Failed to set capabilities on file `/usr/bin/python3' (Invalid argument)
The value of the capability argument is not permitted for a file. Or the file is not a regular (non-symlink) file

But your solution worked when done like this (for me):
$ ls -lh /usr/bin/python3
lrwxrwxrwx 1 root root 9 Mar 26  2019 /usr/bi

[2021-03-06 18:02] xalier1 opened #64 "Sweep functionality documentation request"
**Describe the bug**
Ping sweep functionality is disabled unless ping is called  with size=None or size=0

**To Reproduce**
Steps to reproduce the behavior:
1.  Call ping without size=None  - ret = ping(ip,sweep_start=10 ,sweep_end=109,timeout=2,match=True)
2.  Use wireshark or equivalent and look at the icmp messages being sent
3. Observe that payload is all the same size, equivalent to ping bein

[2021-03-07 07:37] alessandromaggio commented on #64
Hello!

You are making a good point. I will try to verify it, but if that's the way it is, rather than updating the documentation, I think the correct behavior, I would make it ignore the size parameter if the sweep sizes (start and end) are set instead. The problem is happening because the default size is 1 most probably.

[2021-03-07 15:44] xalier1 commented on #64
Hi

Thanks for your quick response.   I  appreciate being able to use the ping functionality  of  pythonping module. Thanks for authoring, maintaining it and making it available on github. Included below is a response to your response and an additional discussion item.

As you have said in your response, giving  the sweep sizes priority over size and count if sweep sizes are set makes sense as a

[2021-03-12 06:58] alessandromaggio commented on #64
In the end I simply inverted an if-elif construct in the ping function. Now if you set sweep_start and sweep_end, size is ignored, which is the correct behavior as setting a static size _and_ sweep settings make no sense, so I am assuming this is the wanted behavior for most users.

Changes are already out in version 1.0.16, which is already available for download with `pip`. I am going to close t

[2021-03-12 06:58] #64 closed

[2021-04-01 03:59] nickfan commented on #27
sudo setcap cap_net_raw+ep $(readlink -f $(which python))

[2021-04-27 21:49] ArcherSking10 opened #68 "ping through interface"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-06-12 12:08] alessandromaggio commented on #68
I am sorry, you provided no description on this request. Please, re-open accordingly and provide documentation.
If I get it right, I think you are looking for the -l option for which we already have a PR going, but I may be wrong. Fill the form correctly and we will see what to do about it.

Thanks in advance!

[2021-06-12 12:08] #68 closed

[2021-07-08 05:03] fufuok commented on #21
Wow, I don't know if there is a plan, the demand is very common.

[2021-07-09 17:12] alessandromaggio commented on #21
At the moment there is no plan, but I agree the demand is building up. Feel
free to start drafting a PR for this

On Thu, Jul 8, 2021 at 7:03 AM Fufu ***@***.***> wrote:

[2021-07-11 18:12] Zenahr opened #73 "ping to a server's specific port (e. g. 142.251.33.110:7777)"
I'm writing a matchmaking server for game developers at the moment. To make sure the serverlist is not filled with dead servers I thought I could ping the client computers using pythonping. With the current implementation however the list would be incorrect since it would require users to completely turn off their computers.

The game servers are run by my clients (players) and the game servers' p

[2021-07-15 17:13] alessandromaggio commented on #73
Hello, thanks for asking. Unlike what you may see in gaming context, at a network level pings are ICMP messages that are encapsulated directly into IP packets. Ports are a concept used in TCP and UDP, which ICMP does not use. It may be possible to "ping" a server over TCP, because it is possible to trigger a connection and if the server is listening it will reply. However, this is simply not possi

[2021-07-15 17:13] #73 closed

[2021-11-02 22:05] s1198576 opened #74 "Wrong payload displayed in responses"
**Describe the bug**
The ICMP responses displayed are showing the wrong payload, which doesn't change when the size option is specified.  You will also see when sweep start and end are specified, all responses show the same payload.  You will get failures when the Path MTU is exceeded, showing that in the background the payload is changing.

**To Reproduce**
See below for the execution of an MTU s

[2021-11-04 07:10] alessandromaggio commented on #74
We need to look further into this. I gave a quick glance at the [RFC792](https://datatracker.ietf.org/doc/html/rfc792) and it does not seem to indicate that the size of the reply should match the size of the ICMP reply should match the size of the ICMP request, so this behavior may be related to the destination host as well.

Can you please repeat the test while also running a WireShark capture at

[2021-12-28 20:31] s1198576 commented on #74
Sorry for the delay, I've been busy on other things.  For quick reference here is the packet capture results from a different system.  This ping was performed from a Windows CLI specifying a payload of 1200 bytes.  IP+ICMP includes 28 bytes of overhead, so the remaining 14 bytes must be the frame encapsulation, for a total of 1242.  This is the size displayed for both the request and reply.  Thank

[2021-12-29 14:45] alessandromaggio commented on #74
Just switched to displaying the payload of the packet with commit 145af92, however calculating the packet size still seems off. I noticed on Windows the same packet is displayed twice as a response, even if the NIC sees only one packet. We will need to look deeper into this.

[2021-12-29 16:16] s1198576 commented on #74
Thank you!  Much appreciated.  Having this insight is beneficial when
determining PMTU, which becomes increasingly important with the addition of
network overhead from things like VPNs.

Happy New Year!

On Wed, Dec 29, 2021 at 9:45 AM Alessandro Maggio ***@***.***>
wrote:

[2021-12-31 09:27] alessandromaggio commented on #74
I implemented in release 1.1.1, just published. Calculations were just off and this has been fixed, however the previous output format showed the size of the reply packet. It still shows that, but now with correct sizing.
To better address this issue I also added a new `out_format` option which defaults to `legacy` and can be set to `None` to start to use the new format, which will be the default

[2021-12-31 09:27] #74 closed

[2021-12-31 15:56] s1198576 commented on #74
Thank you so much!  Have you considered putting payload as an option in the
response list.  This would be helpful when using ping sweep and not
programmatically setting each payload.  If you are interested I can submit
an additional request.

This is all very helpful for those traversing many long and complex paths
where MTU isn’t known and you have PMTU discovery filtered by 3rd parties,
ICMP typ

[2022-01-01 22:17] RealSourceOfficial opened #75 "No Module 'pythonping' | Raspberry Pi"
**Describe the bug**
No module 'pythonping' on Raspberry Pi (RPi 3B, Raspbian 10 Buster)

**To Reproduce**
Steps to reproduce:
Run any .py file with `import pythonping` or `from pythonping import`

**Expected behavior**
Run x.py without returning `No module 'pythonping'`

**Desktop:**
 - OS: Raspbian Buster
 - Browser: Chromium
 - Version: OS: 10, Browser: Unknown

**Additional context**
previousl

[2022-01-02 00:22] RealSourceOfficial commented on #75
Duplicate of #26

[2022-01-02 00:22] #75 closed

[2022-02-03 14:59] lynxthecat opened #77 "Timestamp pings (ICMP type 13)?"
The example given here:

https://www.ictshore.com/python/python-ping-tutorial/

`ping('8.8.8.8', count=1, payload=bytes(time.clock())`

No longer works.

What is the up to date equivalent?

**I am trying to see if I can use pythonping to send ICMP type 13 requests and then read the responses to ascertain one way delays.**

Is this possible?

[2022-02-15 22:00] volitank opened #78 "Async Ping"
Hello,

I'm working on a project which currently utilizes your ping program. For one function that we do we issue quite a lot of pings which we are currently doing threaded.

We would like to switch this implementation to async if at all possible. So I'm wondering how difficult this would be to implement. or if you already know of a way.

I know there are other ping implementations that are async,

[2022-02-20 16:38] alessandromaggio commented on #78
By this you mean spawning a thread for a single ping and triggering some other code asynchronously when the ping completes? This should be already be possible because the library is thread-safe.

[2022-02-21 23:08] volitank commented on #78
No I mean pinging with asyncio instead of threads. I want to do a lot of pings simultaneously. Asyncio is a better method for this than opening hundreds of threads.

[2022-02-25 17:39] fdauti commented on #7
when running, ping('192.168.255.11',size=1700, df=True) in linux system, I see with Wireshark that the packets get fragmented, and More fragments bit is set (1).  Shouldn't "Don't fragment" flag be 1, when enabling df option?

[2022-03-14 03:41] throwbear opened #79 "Do pythonping Support for PY2"
when I tried to import pythonping in python2.7.18
I got this error：
![image](https://user-images.githubusercontent.com/8360116/158100931-73ce7a4f-eb3c-4946-ba5b-c05b84d9df48.png)

[2022-03-14 07:24] alessandromaggio commented on #79
Python Ping supports only Python 3.x.
As Python 2.7 is a legacy platform there is no plan of supporting it in the future. My apologies, but you will have to upgrade to Python 3.

[2022-03-14 07:24] #79 closed

[2022-05-08 09:46] Huthesh opened #80 "Ping through specific interface"
Is there a way ping from a  explicit source to destination ?

[2022-06-25 15:01] ilyapashuk opened #81 "invalid value in packets_lost field of the response"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
1. run python and import pythonping
2. call "r = ping(host,count=10)"
where host is any internet host which never responds to pings
3. type r.packets_lost

**Expected behavior**
I expect to get integer amount of lost packets
actually I gat float value 1.0 (may be some ratio which should be on packet_loss fie

[2022-06-25 15:13] ilyapashuk commented on #81
I'm sorry, I understood that number of lost packets is not provided at all now.

I will transform it to feature request and prepair the pr

[2022-06-25 15:13] #81 closed

[2022-06-25 15:34] ilyapashuk opened #82 "feature request: add a integer lost packets number to the ResponseList object"
**Is your feature request related to a problem? Please describe.**
problem: currently ResponseList contains packets_lost variable which contains float ratio of lost packets to all sent packets.
but we can not know how many exactly packets was lost.

**Describe the solution you'd like**
we may add an other variable to ResponseList object for this and patch "append" method to count the lost packets

[2022-07-29 06:41] alessandromaggio commented on #78
This is is a great feature and can make the library significantly more useful and more modern. We need to get it done at some point.

[2022-07-29 06:42] alessandromaggio commented on #80
Hello! At the moment, there is no way to specify the source IP, but it is something we should consider as it is a common requirement in the world of networking.

[2022-07-29 06:48] alessandromaggio commented on #82
Hello, and sorry for late reply.
Your suggestion is valid, but I think we should implement it in a different way now that we are at it. We should use the following variables.

* `self.stats_packets_sent` = Total packets sent
* `self.stats_packets_returned` = Total packet sent for which we have received a reply
* `self.stats_packets_lost` = stats_packet_sent - stats_packets_returned (computed)
* `s

[2022-07-29 06:49] alessandromaggio commented on #77
I will need to look further into this

[2022-07-29 06:50] alessandromaggio commented on #16
Documentation has been expanded over the course of various releases. As of now, documentation should be added and expanded with every release and does not need a separate issue to track it any longer.

[2022-07-29 06:50] #16 closed

[2022-07-29 06:52] alessandromaggio commented on #21
I removed the _good first issue_ label because crafting IPv6 headers may not be easy for first-time contributors. This is a feature I would like to see implemented in pythonping at some point, but demand is relatively low and we don't have many contributors, so it may be a while before we are able to implement it.

[2022-07-29 12:42] ilyapashuk commented on #82
changes are added, please review them.

[2022-07-29 19:33] volitank commented on #78
That's great to hear! Your library is the best for natively pinging in python.

[2022-07-30 16:13] alessandromaggio commented on #77
After having looked into this, the issue is not strictly related with pythonping. Starting with Python 3.8, the way to use timestamps and also converting integers to bytes have changed. I have updated the documentation on the website accordingly, here's a snippet.
[code]

[2022-07-30 16:13] #77 closed

[2022-07-30 16:17] alessandromaggio commented on #82
Thank you for the code, changes are finem but can you please write tests for them?

[2022-07-31 10:50] ilyapashuk commented on #82
tests are changed, please review them

[2022-08-19 13:18] alessandromaggio commented on #82
Implemented in Release 1.1.3, out now! Thanks for providing the code for this!

[2022-08-19 13:18] #82 closed

[2022-08-19 13:19] alessandromaggio commented on #80
This has been implemented in Release 1.1.2, already out.

[2022-08-19 13:19] #80 closed

[2022-08-30 21:14] dabell-cc opened #87 "Ping 'count' param throws error for large values, and is signed."
**Describe the bug**
The `ping()` function can't be called with a large value for `count`. It will throw an error.
Setting `count` to a negative number does not result in an error (but it should).
Seems the `count` variable is ended up a signed 16-bit int for some reason.

**To Reproduce**
Steps to reproduce the behavior:
Large value error:
[code]
Accept negative number:
[code]

**Expected behavio

[2022-09-07 19:31] BoboTiG commented on #87
It would be cool to have infinite ping using `count=None` or `count=-1`.

[2022-09-11 18:12] lynxthecat commented on #77
But that does not appear to send an ICMP type 13 request - this gives:

[code]

Can pythonping be used to send ICMP type 13 and obtain response? Such a request and response looks like:

[code]

[2022-09-12 07:46] z4id commented on #87
#### Integer (int) has no max limit in Python3.

[code]
And sys.maxsize is not the max value of int, Python3's `int` can handle any large number as long as memory can handle it.

---

**Not reproduce-able**

result: struct.error: short format requires (-32768) <= number <= 32767

- Python 3.10.4
- pythonping==1.1.3
- MacOS 12.4
---

**Agreed**

result: Round Trip Times min/avg/max is 0/0/0 ms

Agr

[2022-09-12 20:00] dabell-cc commented on #87
@z4id regarding sys.maxsize: fair enough, no need to set an upper limit.
Interesting that it works on Mac with python 3.10.4, I wanted to add I also used pythonping==1.1.3.

The PR I opened [here](https://github.com/alessandromaggio/pythonping/pull/89) did solve the large number and negative number issue for me - perhaps you could take a look and try it out on your system.

[2022-09-13 07:58] z4id commented on #87
@dabell-cc, that's great. I'll have a look on it.
Glad it's been actively followed.

[2022-09-24 17:21] alessandromaggio commented on #87
I will try to review this ASAP

[2022-09-26 05:33] ecdestro commented on #9
Sorry to bump an old issue, but I'm looking for my first open source project to contribute to, and github's recommended projects listed this one. So, hello!

Is there a good documentation on what the Cisco-like output should look like? Maybe I can take a look at this issue. I don't have really any Cisco terminal experience, but I'm feeling better about my Python experience lately, so let me know i

[2022-09-26 13:35] alessandromaggio commented on #9
@ecdestro, thanks for reaching out! In short, the Cisco output is a series of characters that represent the status of the ping. They appear on screen on the same line as soon as we get a result for the ping (either response, timeout, or something else). The line is truncated at 80 characters, so that if you have more than 80 pings they will go onto the next line.

* `!` for a succesful ping that g

[2022-09-28 21:39] AleksaZatezalo commented on #9
Hey @alessandromaggio

Can I take a crack at this issue if it's still open? We have a long weekend in my region this Friday. I want to get started with my first open source contribution... Formatting output should not be to big of an issue :+1:

[2022-09-28 21:42] AleksaZatezalo commented on #78
Hey @alessandromaggio

I take this issue is still open? I will be working on 'Cisco like output' bug as soon as I get the go ahead. Maybe I can take a crack at this one afterwords as well. This OS library will make for a very interesting weekend. I am looking forward to it :100:

[2022-09-29 08:59] ecdestro commented on #9
Sounds great to me! I'm excited to see this in action

[2022-09-29 11:56] alessandromaggio commented on #9
@AleksaZatezalo I think @ecdestro  was the first one to spot this issue so he should work on that. You mentioned documentation in another thread. True, we are good on documentation in the code but the README.md is pretty basic and does not fully explain the logic within the application itself. You may work on that, or extent tests to reach 100% coverage (which would be amazing to have a more relia

[2022-10-01 08:29] ecdestro commented on #9
Also getting used to contributing on github, so please pardon my ignorance.

I've created a preliminary function in executor.py to just try some outputs:
[code]

And have implemented out_format='cisco'
[code]

So I can get outputs of !, ., and U, but currently they are on individual lines. I'm curious about formatting the output to print the info line, then the symbol output line, then the stats l

[2022-10-13 20:15] ShivamGarg2910 commented on #21
@alessandromaggio, please assign it to me.
Would like to work and explore on ipv6

[2022-10-22 23:08] AleksaZatezalo commented on #9
Hey @alessandromaggio

Thank you!

I will work on the README and help implement test cases :)

Kind Regards,
Aleksa

[2022-11-05 17:31] mzakharo opened #97 "Forever ping mode"
**Is your feature request related to a problem? Please describe.**
no

**Describe the solution you'd like**
First. It would be great to be able to run ping forever. A use-case is the collection of  24-7 logs.
Second. It would be useful to forward the result of a `send_ping` to another function as soon as it completes (for live plotting, etc...). Something like  throwing a `yield` in the `for loop`

[2022-11-07 01:40] AleksaZatezalo commented on #78
Hey @alessandromaggio & @volitank

I am currently reading up on asyncio - it seems simple enough but getting your hands dirty isn't easy. If I understand correctly implementing this asynchronously means altering the executor class and awaiting in the main __init__ file. Can anyone confirm?

This is my first crack at asyncio. Some help would be nice :)

[2022-11-14 18:46] batman004 commented on #9
Hi, @alessandromaggio is this issue still up for grabs?

[2022-11-14 18:46] batman004 commented on #9
Hi @alessandromaggio, is this issue still up for grabs?

[2022-11-15 07:38] alessandromaggio commented on #78
Hey @AleksaZatezalo,

Yes, specifically it means when triggering a ping either from the executor or from the ping function itself we have the possibility to await for it. It would be nice to specify some parameter in `ping()` so that we maintain backward compatibility, for example `mode="async"` as opposed to a default `mode="sync"`.

[2022-11-15 07:38] alessandromaggio commented on #21
Hi @ShivamGarg2910, that is great! Feel free to post a pull request and I will review it

[2022-11-15 07:43] alessandromaggio commented on #9
Hey folks sorry for late reply.

So, @ecdestro you are on the right path for this, you need to represent the individual response as you are alredy doing. However, in the ResponseList we need to make some tweaks because if we just iterate through responses and print them it wil be in individual lines as you said. So we need to fetch the string value from the response. Then, it is just a matter of p

[2022-11-15 07:46] alessandromaggio commented on #97
+1

I think having the possibility to yiled is great and we might get to something closer by implementing the async functionality (see #78), which however is more complex to implement than a single yield. For now, we keep this open until we clarify how to go about async.

Regarding the DNS penalty, it is OS-dependant rather than pythonping dependant because we rely on the OS for DNS queries and ca

[2022-11-17 07:22] batman004 commented on #9
Sure @alessandromaggio, thanks

[2022-11-18 03:50] umerxz commented on #22
How can i use the error_message?
when i do:
r_list=ping(ip_addr)
print(r_list.error_message)
it says no error_message attribute